<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark Downloader</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex flex-col flex-wrap h-screen bg-slate-700">
        <header class="bg-slate-900 flex basis-1/6 items-center justify-center">
            <p class="text-neutral-50 font-bebas-neue text-8xl tracking-wide">Twitter Bookmark Downloader</p>
        </header>
        <section class="flex grow">

        </section>
        <footer class="bg-slate-900 flex basis-1/12">

        </footer>
    </div>
</body>
</html>