<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark Downloader</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex flex-col flex-wrap h-screen">
        <header class="flex basis-1/12 items-center justify-center bg-sky-500">
            <p class="text-neutral-50 font-bebas-neue text-6xl tracking-wide">Twitter Bookmark Downloader</p>
        </header>
        <section class="flex grow flex-col bg-sky-200 ml-10 mr-10">
            {% if logged_in %}
                <div class="flex self-end p-12 flex-col">
                    <div class="flex flex-row">
                        <img class="rounded-full" src="{{profile_pic_url}}">
                        <p class="self-center p-2">{{username}}</p>
                    </div>
                    <div class="flex self-start">
                        <form action="{{url_for('api.logout')}}">
                            <input type="submit" value="Logout" class="bg-sky-900 m-2 px-4 py-2 text-white rounded-xl hover:bg-sky-700 hover:cursor-pointer"/>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="flex flex-col items-center justify-center grow">
                    <h1 class="font-roboto font-bold text-2xl pb-4">Download videos and images from tweets saved in your Twitter bookmarks into a single zip archive</h1>
                    <h2 class="font-roboto font-bold text-1xl pb-4">Log in with your twitter account by clicking the button below:</h2>
                    <a href="{{url_for('auth.url')}}">
                        <img src="/static/sign-in-with-twitter-gray.png">
                    </a>
                </div>
            {% endif %}
        </section>
        <footer class="flex basis-1/12">

        </footer>
    </div>
</body>
</html>