{% extends 'base.html' %}
{% block user_info %}
    <div class="flex flex-col">
        <div class="flex self-end p-12 flex-col">
            <div class="flex flex-row">
                <img class="rounded-full" src="{{g.profile_pic_url}}">
                <p class="self-center p-2">{{g.username}}</p>
            </div>
            <div class="flex self-start">
                <form action="{{url_for('api.logout')}}">
                    <input type="submit" value="Logout" class="bg-sky-900 m-2 px-4 py-2 text-white rounded-xl hover:bg-sky-700 hover:cursor-pointer"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block download %}
    <form class="flex items-center justify-center grow" action="{{url_for('api.download')}}" id="form">
        <script>
            window.onload =  function() { 
               var checkboxes = document.getElementsByClassName("h-6 w-6 checkbox")
               var submit = document.getElementById("submit")
               for (var i =0; i < checkboxes.length; i++){
                checkboxes[i].addEventListener('change', function (){
                    var arr = Array.prototype.slice.call(checkboxes)
                
                    var x = arr.filter(checkbox => checkbox.checked)
                    if (x.length > 0){
                        submit.disabled = false
                    }
                    else{
                        submit.disabled  = true
                    }
                })
               }
            }
        </script>
        <div class="flex flex-col text-2xl">
            <p class="p-2">Please select what should the tweets you wish to download include:</p>
            <p class="p-2 self-center text-base text-red-700">Select at least one of the otpions below</p>
            <div class="flex flex-row justify-evenly" id="checkboxes-div">
                <div class="p-2">
                    <input class="h-6 w-6 checkbox" id="text" type="checkbox" name="text">
                    <label  for="text">Text only</label>
                </div>
                <div class="p-2">
                    <input class="h-6 w-6 checkbox" id="photo" type="checkbox" name="photo">
                    <label for="photo">Photo</label>
                </div>
                <div class="p-2">
                    <input class="h-6 w-6 checkbox" id="video" type="checkbox" name="video">
                    <label for="video">Video</label>
                </div>
            </div>
            <div class="p-2">
                <input class="h-6 w-6 " type="checkbox" id="include" name="include">
                <label for="include">Include text from tweets that include Videos and Photos</label>
            </div>
            <div class="self-center" id="btn">
                <button class="bg-sky-900 m-2 px-4 py-2 text-white rounded-xl hover:bg-sky-700 hover:cursor-pointer" type="submit" id="submit" disabled>Download</button>
            </div>
        </div>
    </form>

{% endblock %}